@charset "UTF-8";
/* CSS Document */

body {
	background-color: #c6cfd4;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
#Heading {
	height: 10em;
	width: 96px;
	position: absolute;
	top: -100em;
}
h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.6em;
	margin-top: 0px;
}
#HeaderContainer {
	width: 960px;
	background-color: #c6cfd4;
	margin-right: auto;
	margin-left: auto;
}
#HeaderTop {
	background-color: #204f71;
	width: 960px;
	height: 43px;
}
#HeaderGlowinkowski {
	float: left;
	background-color: #204f71;
}
#HeaderTelNo {
	background-color: #204f71;
	float: right;
}
#HeaderBottom {
	background-color: #8e9da6;
	width: 960px;
	clear: both;
}
#Nav1 {
	height: 76px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(img/Interface/Nav1Background.gif);
	background-repeat: repeat-x;
	background-color: #c6cfd4;
}
#Nav1But1 {
	list-style: none;
	width: 240px;
	padding: 0;
	margin: 0;
	background-color: #c6cfd4;
	height: 76px;
	background-image: url(img/Interface/Nav1But1.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
}
#Nav1But1 a {
	width: 100%;
	background-image: url(img/Interface/Nav1But1.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	margin: 0px;
	padding: 0px;
}
#Nav1But1 a:hover {
	background-position: -240px 0;
}
#Nav1But2 {
	list-style: none;
	width: 240px;
	padding: 0;
	margin: 0;
	background-color: #c6cfd4;
	height: 76px;
	background-image: url(img/Interface/Nav1But2.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
}
#Nav1But2 a {
	width: 100%;
	background-image: url(img/Interface/Nav1But2.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	margin: 0px;
	padding: 0px;
}
#Nav1But2 a:hover {
	background-position: -240px 0;
}
#Nav1But3 {
	list-style: none;
	width: 240px;
	padding: 0;
	margin: 0;
	background-color: #c6cfd4;
	height: 76px;
	background-image: url(img/Interface/Nav1But3.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
}
#Nav1But3 a {
	width: 100%;
	background-image: url(img/Interface/Nav1But3.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	margin: 0px;
	padding: 0px;
}
#Nav1But3 a:hover {
	background-position: -240px 0;
}
#Nav1But4 {
	list-style: none;
	width: 240px;
	padding: 0;
	margin: 0;
	background-color: #c6cfd4;
	height: 76px;
	background-image: url(img/Interface/Nav1But4.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
}
#Nav1But4 a {
	width: 100%;
	background-image: url(img/Interface/Nav1But4.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	margin: 0px;
	padding: 0px;
}
#Nav1But4 a:hover {
	background-position: -240px 0;
}
#Nav2 {
	line-height: 46px;
	background-color: #FFF;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#Nav2 ul {
	margin: 0px;
	padding: 0px;
}
#Nav2 li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 16px;
	font-family: Verdana, Geneva, sans-serif;
	color: #43474a;
	font-size: 12px;
	padding: 0px;
	display: inline;
}
#Nav2 a {
	text-decoration:none;
	font-weight: normal;
	color: #43474a;
	margin: 0px;
	padding: 0px;
}
#Nav2 a:hover {
	color:#4488c3;
	text-decoration: underline;
}
#ContentContainer {
	background-color: #FFF;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
#FullPageContentTitle {
	width: 896px;
	margin-top: 32px;
	margin-right: 32px;
	margin-bottom: 18px;
	margin-left: 32px;
	position: relative;
}
#FullPageContentText {
	width: 896px;
	margin-top: 0px;
	margin-right: 32px;
	margin-bottom: 0px;
	margin-left: 32px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	position: relative;
}
#FullPageContentText ul {
	padding-top: 0px;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 8px;
	padding-bottom: 0px;
}
#FullPageContentText li {
	font-family: Verdana, Geneva, sans-serif;
	color: #43474a;
	font-size: 11px;
	line-height: 16px;
	margin-top: 0px;
	margin-bottom: 6px;
	margin-left: 16px;
	padding-left: 0px;
}
#ContentContainer2 {
	background-color: #FFF;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(img/Interface/Menu-Backgound-Line.gif);
	background-repeat: repeat-y;
	background-position: 0px 0px;
}
#ContentFloatLeft {
	margin: 0px;
	float: left;
	width: 240px;
}
#MenuBut1 {
	line-height: 32px;
	padding: 0px;
	width: 100%;
	margin: 0px;
	clear: left;
	background-color: #95a3ab;
}
#MenuBut1 li {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	list-style-type: none;
	float: left;
	background-color: #95a3ab;
}
#MenuBut1 li a {
	text-decoration: none;
	float: left;
	width: 204px;
	background-image: url(img/Interface/MenuBut1.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	color: #FFF;
	padding-left: 36px;
}
#MenuBut1 li a:hover {
	background-position: -240px 0;
	color: #FFF;
}
#MenuBut2 {
	line-height: 32px;
	padding: 0px;
	width: 100%;
	margin: 0px;
	clear: left;
	background-color: #FFF;
}
#MenuBut2 li {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	list-style-type: none;
	float: left;
	background-color: #FFF;
}
#MenuBut2 li a {
	text-decoration: none;
	float: left;
	width: 204px;
	background-image: url(img/Interface/MenuBut2.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	color: #497494;
	padding-left: 36px;
}
#MenuBut2 li a:hover {
	background-position: -240px 0;
	color: #FFF;
}
#MenuBut3 {
	line-height: 32px;
	padding: 0px;
	width: 100%;
	margin: 0px;
	clear: left;
	background-color: #204f71;
}
#MenuBut3 li {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	list-style-type: none;
	float: left;
	background-color: #204f71;
}
#MenuBut3 li a {
	text-decoration: none;
	float: left;
	width: 204px;
	background-image: url(img/Interface/MenuBut3.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	color: #FFF;
	padding-left: 36px;
}
#MenuBut3 li a:hover {
	background-position: -240px 0;
	color: #FFF;
}
#MenuBut4 {
	line-height: 32px;
	padding: 0px;
	width: 100%;
	margin: 0px;
	clear: left;
	background-color: #4488c3;
}
#MenuBut4 li {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	list-style-type: none;
	float: left;
	background-color: #204f71;
}
#MenuBut4 li a {
	text-decoration: none;
	float: left;
	width: 204px;
	background-image: url(img/Interface/MenuBut4.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	color: #FFF;
	padding-left: 36px;
}
#MenuBut4 li a:hover {
	background-position: -240px 0;
	color: #FFF;
}
#MenuBut5 {
	line-height: 32px;
	padding: 0px;
	width: 100%;
	margin: 0px;
	clear: left;
	background-color: #204f71;
}
#MenuBut5 li {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	float: left;
	background-color: #204f71;
	background-image: url(img/Interface/MenuBut5.gif);
	width: 198px;
	color: #FFF;
	list-style-type: none;
}
#MenuBut5 li a {
	text-decoration: none;
	float: left;
	width: 204px;
	background-image: url(img/Interface/MenuBut5.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	color: #FFF;
	padding-left: 36px;
}
#MenuBut5 li a:hover {
	background-position: -240px 0;
	color: #FFF;
}
#ContentFloatRight {
	margin: 0px;
	float: right;
	width: 720px;
}
#PageContentTitle {
	width: 656px;
	margin-top: 32px;
	margin-right: 32px;
	margin-bottom: 18px;
	margin-left: 32px;
	position: relative;
}
#PageContentText {
	width: 656px;
	margin-top: 0px;
	margin-right: 32px;
	margin-bottom: 0px;
	margin-left: 32px;
	clear: both;
	position: relative;
}
#PageContentText ul{
	padding-top: 0px;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 8px;
	padding-bottom: 0px;
}
#PageContentText  li{
	font-family: Verdana, Geneva, sans-serif;
	color: #43474a;
	font-size: 11px;
	line-height: 16px;
	margin-top: 0px;
	margin-bottom: 6px;
	margin-left: 16px;
	padding-left: 0px;
}
#FooterContainer {
	background-color: #c6cfd4;
	height: 43px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	margin-top: 0px;
	padding: 0px;
}
#FooterLeft {
	background-color: #244761;
	float: left;
	height: 43px;
	width: 240px;
	padding: 0px;
}
#FooterRight {
	background-color: #2d5979;
	height: 43px;
	width: 720px;
	float: right;
}
#PageBottomContainer {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 16px;
	background-color: #c6cfd4;
}
#PageBottomLeft {
	background-color: #c6cfd4;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	color: #43474a;
	font-size: 12px;
	padding-bottom: 30px;
}
#PageBottomLeft a{
	color: #43474a;
	text-decoration: none;
}
#PageBottomLeft a:hover {
	color: #4488c3;
	text-decoration: underline;
}
.Left10px {
	margin-left: 10px;
}
#PageBottomRight {
	background-color: #c6cfd4;
	float: right;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #43474a;
	text-align: right;
	padding-bottom: 30px;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 17px;
	margin-bottom: 8px;
	margin-top: 0px;
	color: #43474a;
}
h6 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 11px;
	font-weight: normal;
	color: #43474a;
	margin: 8px;
}
.AATable {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
}
p a{
	color: #43474a;
	text-decoration: underline;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 17px;
}
p a:hover {
	color: #4488c3;
}
.ZeroAboveBelow {
	margin: 0px;
	padding: 0px;
}
.DocumentTabs {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #FFF;
	line-height: 32px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #c6cfd4;
}
.DocumentTabs a{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #FFF;
	line-height: 32px;
	text-align: center;
	text-decoration: underline;
}
.DocumentTabs a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #333;
	line-height: 32px;
	text-align: center;
	text-decoration: underline;
}
.DocumentTabsFooter {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #43474a;
	line-height: 28px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c6cfd4;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #c6cfd4;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #c6cfd4;
}
.FloatRight {
	float: right;
}
#Doc1 {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 183px;
}
.Spacing10Above16Below {
	margin-top: 10px;
	margin-bottom: 16px;
}
.Spacing15Above15Below {
	clear: both;
	margin-top: 15px;
	margin-bottom: 15px;
}
.Spacing15Above20Below {
	clear: both;
	margin-top: 15px;
	margin-bottom: 20px;
}
.Spacing25Above35Below {
	clear: both;
	margin-top: 25px;
	margin-bottom: 35px;
}
.Spacing5Above10Below {
	margin-top: 5px;
	margin-bottom: 10px;
}
.FloatRight35Left {
	float: right;
	margin-left: 35px;
}
.Padding0Margin0 {
	margin: 0px;
	padding: 0px;
}
.White {
	background-color: #FFF;
}
.GIBlue2 {
	background-color: #2b68ac;
}
.GIGreyDark {
	background-color: #95a3ab;
}
.GIGreyLight {
	background-color: #c6cfd4;
}
#OurPeopleBox1 {
	padding: 0px;
	width: 212px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	position: relative;
	background-color: #c6cfd4;
	float: left;
	height: 90px;
}
#OurPeopleBox2 {
	padding: 0px;
	height: 90px;
	width: 212px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	position: relative;
	background-color: #c6cfd4;
	float: left;
}
#OurPeopleBoxText {
	width: 96px;
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	color: #43474a;
	font-size: 11px;
	line-height: 13px;
	margin: 0px;
	padding: 0px;
	left: 103px;
	bottom: 13px;
}
#OurPeopleBoxText a{
	color: #43474a;
	text-decoration: none;
}
#OurPeopleBoxText a:hover {
	color: #4488c3;
	text-decoration: underline;
}
h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	margin-top: 0px;
	color: #4488c3;
	margin-bottom: 10px;
}
.FloatRight35Left20Bottom {
	float: right;
	margin-left: 35px;
	margin-bottom: 20px;
}
#MenuPanelContainer {
	background-color: #FFF;
	padding: 0px;
	float: left;
	width: 200px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#MenuPanelContainerText {
	background-color: #FFF;
	float: left;
	width: 170px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #43474a;
	margin: 20px;
	padding-top: 10px;
	padding-right: 14px;
	padding-bottom: 12px;
	padding-left: 14px;
	border: 1px solid #c6cfd4;
}
#NewsMenu {
	clear: left;
	float: left;
	width: 190px;
	text-align: center;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 15px;
}
.Spacing10Above5Below {
	margin-top: 15px;
	margin-bottom: 5px;
}
.FloatRight35Left30Bottom5Top {
	float: right;
	margin-left: 35px;
	margin-bottom: 30px;
	margin-top: 5px;
}
#NewsMenuDottedBaseLine {
	clear: left;
	float: left;
	width: 190px;
	text-align: center;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #747f85;
}
#HomePageNewsPanel {
	float: right;
	width: 190px;
	margin-left: 35px;
	border: 1px dotted #999;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-style: italic;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 18px;
	padding-left: 20px;
	color: #204f71;
	font-weight: bold;
	margin-bottom: 20px;
}
.QuoteText {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 16px;
	color: #43474a;
	font-weight: normal;
}
.QuoteText a{
	text-decoration: underline;
	color: #204f71;
}
.QuoteText a:hover {
	text-decoration: none;
	color: #43474a;
}
.FloatRight30Left {
	float: right;
	margin-left: 30px;
}
.FloatRight20Left10Bottom {
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
}
.FloatRight20Left20Bottom {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}
.FloatLeft {
	clear: left;
	float: left;
	margin-top: 12px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	padding-bottom: 10px;
}
.FloatLeft2 {
	clear: left;
	float: left;
	margin-top: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	padding-bottom: 10px;
}
.FloatLeft3 {
	float: left;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-right: 20px;
}
#FullPageContentTitleIndia {
	width: 896px;
	margin-top: 28px;
	margin-right: 32px;
	margin-bottom: 18px;
	margin-left: 32px;
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	margin-top: 4px;
	color: #204f71;
	margin-bottom: 6px;
}
#IndiaForm {
	float: right;
	width: 300px;
	margin-left: 0px;
	border: 1px dotted #999;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 18px;
	padding-left: 20px;
	color: #204f71;
	margin-bottom: 30px;
}
.FormFieldStyle {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	padding: 5px;
	width: 288px;
	margin-top: 6px;
	color: #43474a;
	border: 1px solid #CCC;
	margin-right: 0px;
	margin-bottom: 7px;
	margin-left: 0px;
}
.RegisterButton {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #43474a;
	border: 1px solid #CCC;
	margin-top: 8px;
	width: 100px;
	margin-bottom: 12px;
	margin-right: 10px;
}
.FormCheckBox {
	border: 1px solid #43474a;
	margin-top: 3px;
	margin-bottom: 3px;
	height: 15px;
	width: 15px;
}
.FormCheckBox2Line {
	border: 1px solid #43474a;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 15px;
	width: 15px;
}
.MasterclassTablePadding {
	margin-top: 5px;
	margin-bottom: 10px;
}
#IndiaFormDottedDivLine {
	width: 525px;
	margin-top: 15px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
}
#IndiaFormText {
	float: left;
	width: 525px;
}
#IndiaFormClear {
	margin: 0px;
	padding: 0px;
	clear: both;
	width: 890px;
}
.SpacingAbove5 {
	padding: 0px;
	margin-top: 15px;
}
#FormDividingLine {
	width: 300px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	margin-bottom: 10px;
	margin-top: 7px;
}
.Spacing5Above20Below {
	margin-top: 5px;
	margin-bottom: 20px;
}
.RedText {
	color: #C03;
}
.SocialLogosMargin {
	margin-left: 8px;
}
#SocialNetworkLogos {
	height: 32px;
	width: 32px;
	left: 386px;
	top: 0px;
	position: absolute;
}
#SocialNetworkLogos2 {
	height: 32px;
	width: 152px;
	left: 504px;
	top: -3px;
	position: absolute;
}
#SocialNetworkLogos3 {
	height: 32px;
	width: 152px;
	left: 664px;
	top: -3px;
	position: absolute;
}
#ToddLandMovie {
	width: 656px;
	margin-top: 25px;
	margin-bottom: 35px;
}
