:root {
    /* GPI colours */
    --darkest_blue: #2e5979;
    --grey_blue: #c4cfd5;
    --dark_blue: #497494;
    --mid_blue: #4788c2;
    --white: #ffffff;
    --red: #FF0000;
    --page_bkg_col: #202020;
}

html {
    height:100%;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    /*font-size: 18px;*/
    text-align: justify;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #808080
}

h1 {
    color: var(--darkest_blue);
    font-weight: bold;
    font-size: 28px;
    text-align:center;
}

h2 {
    color: var(--darkest_blue);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

h3 {
    color: var(--darkest_blue);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

h4 {
    color: var(--darkest_blue);
    font-weight: bold;
    font-size: 16px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}


ul.top {
    list-style-type: disc;
}

ul.sub {
    list-style-type: circle;
}


li.nav {
    float: left;
}


    li.nav a {
        display: block;
        color: var(--white);
        font-family: Arial;
        font-size: 18px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
    }

        li.nav a:hover {
            color: var(--red);
        }

li.text {
    padding-bottom: 0.5em;
}

.text {
    font-size: 16px;
}

a {
    color: var(--mid_blue);
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

    a:hover {
        color: var(--red);
    }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.header {
    background-color: black;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headerbar {
    display:table;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logoContainer {
    width: 100px;
    height: auto;
    max-width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

.linkContainer {
    display: table-cell;
    vertical-align: middle;
}

.logo {
    display:inline-block;
    width: 50px;
    height: auto;
    max-width: 100%;
}

.pagecontent {
    background-color: var(--page_bkg_col);
    background-image: url("images/sky_banner.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topics {
    width: 100%;
    text-align: center;
}

.topic_content {
    display: inline-block;
    width: 300px;
    max-width: 100%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: var(--grey_blue);
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.6);
}

.page_nav {
    display: table;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav_arrow {
    width:50px;
    max-width:100%;
}

.link_box {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text_box {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.6);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    background-color: black;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 768px) {

    li {
        float:none;
    }

        li a {
            text-align: left;
            padding-left: 5px;
            padding-top: 10px;
        }

    .headerbar {
        display: block;
        width: 100%;
    }

    .logoContainer {
        width: 100%;
    }

    .linkContainer {
        display: block;
    }

    .pagecontent { 
        padding-left: 0px;
        padding-right: 0px;
    }

    .topic_content {
        width: 80%;
        margin-left: auto;
        margin-right: auto;     
 
    }
}